{% extends 'templates/base.html' %}

{% block content %}
    <div class="grid-y">
        <div class="cell medium">
            <h1 class="middle">WELCOME MY FRIENDS </h1>
            <h3><strong>About this Web App</strong></h3>
            <h5> This web app is made so i can implement my knowledge about python obtained from some short courses </h5>
            <h5> i am not good at using css , really sorry about horrible design :( </h5>
            <br>
            <h5 class="shaded-yl"> i try to implement my knowledge about python into fields as follow : </h5>
        </div>
        <div class="cell large">
            <a href="{% url 'food_safety:fs-home-view' %}" class="button large primary">1. FOOD SAFETY AND OTHER NON DATA SCIENCE PROJECTS</a>
            <br>
            <a href="#" class="button success large">2. RANDOM DATA SCIENCE AND MACHINE LEARNING PROJECTS</a>
        </div>
    </div>
{% endblock %}