{% extends 'templates/base.html' %}

{% block content %}
    <div class="margin-left-1 grid-y">
        <div class="cell medium">
            <h1 class="middle">WELCOME MY FRIENDS </h1>
            <h3><strong>About this Web App</strong></h3>
            <h5> This web app is made so i can implement my knowledge about python obtained from some short courses </h5>
            <h5> i am not good at using css , really sorry about horrible design :( </h5>
            <br>
            <h5 class="shaded-yl"> i try to implement my knowledge about python into fields as follow : </h5>
        </div>
        <div class="cell large">
            <a href="{% url 'food_safety:fs-home-view' %}" class="button large primary">1. FOOD SAFETY AND OTHER NON DATA SCIENCE PROJECTS</a>
            <br>
            <a href="{% url 'dsml:dsml-home-view' %}" class="button success large">2. RANDOM DATA SCIENCE AND MACHINE LEARNING PROJECTS</a> <small style="color: red;">It will take about 15-30 Seconds to load this page, since the app need to load models</small>
        </div>
    </div>
    <div>
        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: 900;">If you are interested to check the source code for whole project, please check my github <a style="text-decoration-line: underline;" href="https://github.com/lurah11/django_training_lurah">here</a></p>
    </div>
{% endblock %}