{% extends 'templates/base.html' %}

{% block content %}
    <div class="grid-y">
        <div class ="cell small middle text-color-cfb">
            <h1>Food Safety Related Projects </h1>
        </div>
        <div class="cell large">
            <a class="button bg-color-do margin-left-1" href="{% url 'f0:f0-calc-view' %}">1. FO CALCULATOR (FOOD SAFETY)</a>
            <a class="button bg-color-do margin-left-1" href="{% url 'fsupdater:fsupdater-home-view' %}">2. FOOD SAFETY NEWS UPDATER </a>
        </div>
    </div>
{% endblock %}